body {
  margin: 0;
}

.top-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.left {
  flex: 1;
  color: #F9FAF8;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding: 16px;
  padding-left: 200px;
}


ul {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  gap: 20px;
  padding-right: 230px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.main-content {
  display: flex;
  margin: 50px 170px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  flex: 1;
  gap: 10px;
}

.image {
  flex: 1;
  text-align: center;
  align-self: center;
}

.text1 {
  color: #F9FAF8;
  font-size: 50px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
}

.text2 {
  color: #E5E7EB;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  flex: 1;
  padding: 8px;
  width: 130px;
  border-style: none;
}

/* end of top-section set */

.carousel-section {
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
}

.steps {
  display: flex;
  width: 800px;
  margin: 30px auto;
  gap: 25px;
}

.step {
  flex: 1;
  text-align: center;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.step img {
  width: 100%;
  border-radius: 10px;
}


.inspirational-section {
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 150px;
  gap: 16px;
}

.textquote {
  color: 1F2937;
  font-style: italic;
  font-size: 36px;
}

.autor {
  font-size: 20px;
  font-weight: 900;
  align-self: flex-end;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.final-section {
  display: flex;
  justify-content: center;
}

.registration {
  display: flex;
  background-color: #3882F6;
  border-radius: 10px;
  margin: 80px auto;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 900px;
}

.join {
  flex: 1;
  color: #E5E7EB;
  padding: 30px;
}

.jointext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.jointext2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #E5E7EB;
}

.final-section button {
  border: 2px solid #F9FAF8;
  font-weight: 800;
}

.button-container {
  align-self: center;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}





